.stucss {
	font-family: "华文细黑";
	font-size: 13px;
	line-height: 150%;
	font-weight: normal;
	color: #565656;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.img{border:none}